@charset "UTF-8";

@font-face {
  font-family: 'fontello';
  src: url("fontello/fontello.eot");
  src: url("fontello/fontello.eot?#iefix") format('embedded-opentype'), url("fontello/fontello.woff") format('woff'), url("fontello/fontello.ttf") format('truetype'), url("fontello/fontello.svg#fontello") format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fontello-social';
  src: url("fontello/fontello-social.eot");
  src: url("fontello/fontello-social.eot?#iefix") format('embedded-opentype'), url("fontello/fontello-social.woff") format('woff'), url("fontello/fontello-social.ttf") format('truetype'), url("fontello/fontello-social.svg#fontello") format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0;
  text-align: center;
  line-height: 1em;
}

[class^="icon-s-"]:before,
[class*=" icon-s-"]:before {
  font-family: 'fontello-social';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0;
  text-align: center;
  line-height: 1em;
}

.icon-plus:before { content: '\2b'; } /* '+' */
.icon-plus-1:before { content: '\e817'; } /* 'î —' */
.icon-minus:before { content: '\2d'; } /* '-' */
.icon-minus-1:before { content: '\e816'; } /* 'î –' */
.icon-info:before { content: '\2139'; } /* 'â„¹' */
.icon-left-thin:before { content: '\2190'; } /* 'â†' */
.icon-left-1:before { content: '\e847'; } /* 'î¡‡' */
.icon-up-thin:before { content: '\2191'; } /* 'â†‘' */
.icon-up-1:before { content: '\e845'; } /* 'î¡…' */
.icon-right-thin:before { content: '\2192'; } /* 'â†’' */
.icon-right-1:before { content: '\e846'; } /* 'î¡†' */
.icon-down-thin:before { content: '\2193'; } /* 'â†“' */
.icon-down-1:before { content: '\e848'; } /* 'î¡ˆ' */
.icon-level-up:before { content: '\21b0'; } /* 'â†°' */
.icon-level-down:before { content: '\21b3'; } /* 'â†³' */
.icon-switch:before { content: '\21c6'; } /* 'â‡†' */
.icon-infinity:before { content: '\221e'; } /* 'âˆž' */
.icon-plus-squared:before { content: '\229e'; } /* 'âŠž' */
.icon-minus-squared:before { content: '\229f'; } /* 'âŠŸ' */
.icon-home:before { content: '\2302'; } /* 'âŒ‚' */
.icon-home-1:before { content: '\e811'; } /* 'î ‘' */
.icon-keyboard:before { content: '\2328'; } /* 'âŒ¨' */
.icon-erase:before { content: '\232b'; } /* 'âŒ«' */
.icon-pause:before { content: '\2389'; } /* 'âŽ‰' */
.icon-pause-1:before { content: '\e851'; } /* 'î¡‘' */
.icon-fast-forward:before { content: '\23e9'; } /* 'â©' */
.icon-fast-fw:before { content: '\e856'; } /* 'î¡–' */
.icon-fast-backward:before { content: '\23ea'; } /* 'âª' */
.icon-fast-bw:before { content: '\e857'; } /* 'î¡—' */
.icon-to-end:before { content: '\23ed'; } /* 'â­' */
.icon-to-end-1:before { content: '\e852'; } /* 'î¡’' */
.icon-to-start:before { content: '\23ee'; } /* 'â®' */
.icon-to-start-1:before { content: '\e854'; } /* 'î¡”' */
.icon-hourglass:before { content: '\23f3'; } /* 'â³' */
.icon-stop:before { content: '\25a0'; } /* 'â– ' */
.icon-stop-1:before { content: '\25aa'; } /* 'â–ª' */
.icon-up-dir:before { content: '\25b4'; } /* 'â–´' */
.icon-up-dir-1:before { content: '\e841'; } /* 'î¡' */
.icon-play:before { content: '\25b6'; } /* 'â–¶' */
.icon-play-1:before { content: '\e84f'; } /* 'î¡' */
.icon-right-dir:before { content: '\25b8'; } /* 'â–¸' */
.icon-right-dir-1:before { content: '\e84d'; } /* 'î¡' */
.icon-down-dir:before { content: '\25be'; } /* 'â–¾' */
.icon-down-dir-1:before { content: '\e840'; } /* 'î¡€' */
.icon-left-dir:before { content: '\25c2'; } /* 'â—‚' */
.icon-left-dir-1:before { content: '\e842'; } /* 'î¡‚' */
.icon-adjust:before { content: '\25d1'; } /* 'â—‘' */
.icon-cloud:before { content: '\2601'; } /* 'â˜' */
.icon-cloud-1:before { content: '\e85c'; } /* 'î¡œ' */
.icon-umbrella:before { content: '\2602'; } /* 'â˜‚' */
.icon-star:before { content: '\2605'; } /* 'â˜…' */
.icon-star-1:before { content: '\e805'; } /* 'î …' */
.icon-star-empty:before { content: '\2606'; } /* 'â˜†' */
.icon-star-empty-1:before { content: '\e806'; } /* 'î †' */
.icon-check-1:before { content: '\2611'; } /* 'â˜‘' */
.icon-cup:before { content: '\2615'; } /* 'â˜•' */
.icon-left-hand:before { content: '\261c'; } /* 'â˜œ' */
.icon-up-hand:before { content: '\261d'; } /* 'â˜' */
.icon-right-hand:before { content: '\261e'; } /* 'â˜ž' */
.icon-down-hand:before { content: '\261f'; } /* 'â˜Ÿ' */
.icon-menu:before { content: '\2630'; } /* 'â˜°' */
.icon-th-list:before { content: '\e81b'; } /* 'î ›' */
.icon-moon:before { content: '\263d'; } /* 'â˜½' */
.icon-heart-empty:before { content: '\2661'; } /* 'â™¡' */
.icon-heart-empty-1:before { content: '\e804'; } /* 'î „' */
.icon-heart:before { content: '\2665'; } /* 'â™¥' */
.icon-heart-1:before { content: '\e803'; } /* 'î ƒ' */
.icon-note:before { content: '\266a'; } /* 'â™ª' */
.icon-note-beamed:before { content: '\266b'; } /* 'â™«' */
.icon-music-1:before { content: '\e800'; } /* 'î €' */
.icon-th:before { content: '\268f'; } /* 'âš' */
.icon-layout:before { content: '\e80c'; } /* 'î Œ' */
.icon-flag:before { content: '\2691'; } /* 'âš‘' */
.icon-flag-1:before { content: '\e81f'; } /* 'î Ÿ' */
.icon-tools:before { content: '\2692'; } /* 'âš’' */
.icon-cog:before { content: '\2699'; } /* 'âš™' */
.icon-cog-1:before { content: '\e82e'; } /* 'î ®' */
.icon-attention:before { content: '\26a0'; } /* 'âš ' */
.icon-attention-1:before { content: '\e834'; } /* 'î ´' */
.icon-flash:before { content: '\26a1'; } /* 'âš¡' */
.icon-flash-1:before { content: '\e85d'; } /* 'î¡' */
.icon-record:before { content: '\26ab'; } /* 'âš«' */
.icon-cloud-thunder:before { content: '\26c8'; } /* 'â›ˆ' */
.icon-cog-alt:before { content: '\26ef'; } /* 'â›¯' */
.icon-scissors:before { content: '\2702'; } /* 'âœ‚' */
.icon-tape:before { content: '\2707'; } /* 'âœ‡' */
.icon-flight:before { content: '\2708'; } /* 'âœˆ' */
.icon-flight-1:before { content: '\e86f'; } /* 'î¡¯' */
.icon-mail:before { content: '\2709'; } /* 'âœ‰' */
.icon-mail-1:before { content: '\e802'; } /* 'î ‚' */
.icon-edit:before { content: '\270d'; } /* 'âœ' */
.icon-pencil:before { content: '\270e'; } /* 'âœŽ' */
.icon-pencil-1:before { content: '\e826'; } /* 'î ¦' */
.icon-feather:before { content: '\2712'; } /* 'âœ’' */
.icon-check:before { content: '\2713'; } /* 'âœ“' */
.icon-ok:before { content: '\e81a'; } /* 'î š' */
.icon-ok-circle:before { content: '\2714'; } /* 'âœ”' */
.icon-cancel:before { content: '\2715'; } /* 'âœ•' */
.icon-cancel-1:before { content: '\e819'; } /* 'î ™' */
.icon-cancel-circled:before { content: '\2716'; } /* 'âœ–' */
.icon-cancel-circle:before { content: '\e818'; } /* 'î ˜' */
.icon-asterisk:before { content: '\2731'; } /* 'âœ±' */
.icon-cancel-squared:before { content: '\274e'; } /* 'âŽ' */
.icon-help:before { content: '\2753'; } /* 'â“' */
.icon-attention-circle:before { content: '\2757'; } /* 'â—' */
.icon-quote:before { content: '\275e'; } /* 'âž' */
.icon-plus-circled:before { content: '\2795'; } /* 'âž•' */
.icon-plus-circle:before { content: '\e815'; } /* 'î •' */
.icon-minus-circled:before { content: '\2796'; } /* 'âž–' */
.icon-minus-circle:before { content: '\e814'; } /* 'î ”' */
.icon-right:before { content: '\27a1'; } /* 'âž¡' */
.icon-direction:before { content: '\27a2'; } /* 'âž¢' */
.icon-forward:before { content: '\27a6'; } /* 'âž¦' */
.icon-forward-1:before { content: '\e824'; } /* 'î ¤' */
.icon-ccw:before { content: '\27f2'; } /* 'âŸ²' */
.icon-cw:before { content: '\27f3'; } /* 'âŸ³' */
.icon-cw-1:before { content: '\e844'; } /* 'î¡„' */
.icon-left:before { content: '\2b05'; } /* 'â¬…' */
.icon-up:before { content: '\2b06'; } /* 'â¬†' */
.icon-down:before { content: '\2b07'; } /* 'â¬‡' */
.icon-resize-vertical:before { content: '\2b0c'; } /* 'â¬Œ' */
.icon-resize-horizontal:before { content: '\2b0d'; } /* 'â¬' */
.icon-eject:before { content: '\2ecf'; } /* 'â»' */
.icon-list-add:before { content: '\e003'; } /* 'î€ƒ' */
.icon-list:before { content: '\e005'; } /* 'î€…' */
.icon-left-bold:before { content: '\e4ad'; } /* 'î’­' */
.icon-right-bold:before { content: '\e4ae'; } /* 'î’®' */
.icon-up-bold:before { content: '\e4af'; } /* 'î’¯' */
.icon-down-bold:before { content: '\e4b0'; } /* 'î’°' */
.icon-user-add:before { content: '\e700'; } /* 'îœ€' */
.icon-star-half:before { content: '\e701'; } /* 'îœ' */
.icon-ok-circle2:before { content: '\e702'; } /* 'îœ‚' */
.icon-cancel-circle2:before { content: '\e703'; } /* 'îœƒ' */
.icon-help-circled:before { content: '\e704'; } /* 'îœ„' */
.icon-help-circle:before { content: '\e813'; } /* 'î “' */
.icon-info-circled:before { content: '\e705'; } /* 'îœ…' */
.icon-info-circle:before { content: '\e812'; } /* 'î ’' */
.icon-th-large:before { content: '\e708'; } /* 'îœˆ' */
.icon-eye:before { content: '\e70a'; } /* 'îœŠ' */
.icon-eye-1:before { content: '\e81c'; } /* 'î œ' */
.icon-eye-off:before { content: '\e70b'; } /* 'îœ‹' */
.icon-tag:before { content: '\e70c'; } /* 'îœŒ' */
.icon-tag-1:before { content: '\e81d'; } /* 'î ' */
.icon-tags:before { content: '\e70d'; } /* 'îœ' */
.icon-camera-alt:before { content: '\e70f'; } /* 'îœ' */
.icon-upload-cloud:before { content: '\e711'; } /* 'îœ‘' */
.icon-reply:before { content: '\e712'; } /* 'îœ’' */
.icon-reply-all:before { content: '\e713'; } /* 'îœ“' */
.icon-code:before { content: '\e714'; } /* 'îœ”' */
.icon-export:before { content: '\e715'; } /* 'îœ•' */
.icon-export-1:before { content: '\e825'; } /* 'î ¥' */
.icon-print:before { content: '\e716'; } /* 'îœ–' */
.icon-print-1:before { content: '\e827'; } /* 'î §' */
.icon-retweet:before { content: '\e717'; } /* 'îœ—' */
.icon-retweet-1:before { content: '\e828'; } /* 'î ¨' */
.icon-comment:before { content: '\e718'; } /* 'îœ˜' */
.icon-comment-1:before { content: '\e829'; } /* 'î ©' */
.icon-chat:before { content: '\e720'; } /* 'îœ ' */
.icon-chat-1:before { content: '\e82a'; } /* 'î ª' */
.icon-vcard:before { content: '\e722'; } /* 'îœ¢' */
.icon-address:before { content: '\e723'; } /* 'îœ£' */
.icon-location:before { content: '\e724'; } /* 'îœ¤' */
.icon-location-1:before { content: '\e833'; } /* 'î ³' */
.icon-map:before { content: '\e727'; } /* 'îœ§' */
.icon-compass:before { content: '\e728'; } /* 'îœ¨' */
.icon-trash:before { content: '\e729'; } /* 'îœ©' */
.icon-trash-1:before { content: '\e832'; } /* 'î ²' */
.icon-doc:before { content: '\e730'; } /* 'îœ°' */
.icon-doc-text-inv:before { content: '\e731'; } /* 'îœ±' */
.icon-docs:before { content: '\e736'; } /* 'îœ¶' */
.icon-doc-landscape:before { content: '\e737'; } /* 'îœ·' */
.icon-archive:before { content: '\e738'; } /* 'îœ¸' */
.icon-rss:before { content: '\e73a'; } /* 'îœº' */
.icon-share:before { content: '\e73c'; } /* 'îœ¼' */
.icon-basket:before { content: '\e73d'; } /* 'îœ½' */
.icon-basket-1:before { content: '\e82d'; } /* 'î ­' */
.icon-shareable:before { content: '\e73e'; } /* 'îœ¾' */
.icon-login:before { content: '\e740'; } /* 'î€' */
.icon-login-1:before { content: '\e82b'; } /* 'î «' */
.icon-logout:before { content: '\e741'; } /* 'î' */
.icon-logout-1:before { content: '\e836'; } /* 'î ¶' */
.icon-volume:before { content: '\e742'; } /* 'î‚' */
.icon-resize-full:before { content: '\e744'; } /* 'î„' */
.icon-resize-full-1:before { content: '\e83b'; } /* 'î »' */
.icon-resize-small:before { content: '\e746'; } /* 'î†' */
.icon-resize-small-1:before { content: '\e83c'; } /* 'î ¼' */
.icon-popup:before { content: '\e74c'; } /* 'îŒ' */
.icon-publish:before { content: '\e74d'; } /* 'î' */
.icon-window:before { content: '\e74e'; } /* 'îŽ' */
.icon-arrow-combo:before { content: '\e74f'; } /* 'î' */
.icon-zoom-in:before { content: '\e750'; } /* 'î' */
.icon-chart-pie:before { content: '\e751'; } /* 'î‘' */
.icon-zoom-out:before { content: '\e83d'; } /* 'î ½' */
.icon-language:before { content: '\e752'; } /* 'î’' */
.icon-air:before { content: '\e753'; } /* 'î“' */
.icon-database:before { content: '\e754'; } /* 'î”' */
.icon-drive:before { content: '\e755'; } /* 'î•' */
.icon-bucket:before { content: '\e756'; } /* 'î–' */
.icon-thermometer:before { content: '\e757'; } /* 'î—' */
.icon-down-circled:before { content: '\e758'; } /* 'î˜' */
.icon-down-circle2:before { content: '\e83e'; } /* 'î ¾' */
.icon-left-circled:before { content: '\e759'; } /* 'î™' */
.icon-right-circled:before { content: '\e75a'; } /* 'îš' */
.icon-up-circled:before { content: '\e75b'; } /* 'î›' */
.icon-up-circle2:before { content: '\e83f'; } /* 'î ¿' */
.icon-down-open:before { content: '\e75c'; } /* 'îœ' */
.icon-down-open-1:before { content: '\e84c'; } /* 'î¡Œ' */
.icon-left-open:before { content: '\e75d'; } /* 'î' */
.icon-left-open-1:before { content: '\e84b'; } /* 'î¡‹' */
.icon-right-open:before { content: '\e75e'; } /* 'îž' */
.icon-right-open-1:before { content: '\e84a'; } /* 'î¡Š' */
.icon-up-open:before { content: '\e75f'; } /* 'îŸ' */
.icon-up-open-1:before { content: '\e849'; } /* 'î¡‰' */
.icon-down-open-mini:before { content: '\e760'; } /* 'î ' */
.icon-arrows-cw:before { content: '\e843'; } /* 'î¡ƒ' */
.icon-left-open-mini:before { content: '\e761'; } /* 'î¡' */
.icon-play-circle2:before { content: '\e850'; } /* 'î¡' */
.icon-right-open-mini:before { content: '\e762'; } /* 'î¢' */
.icon-to-end-alt:before { content: '\e853'; } /* 'î¡“' */
.icon-up-open-mini:before { content: '\e763'; } /* 'î£' */
.icon-to-start-alt:before { content: '\e855'; } /* 'î¡•' */
.icon-down-open-big:before { content: '\e764'; } /* 'î¤' */
.icon-left-open-big:before { content: '\e765'; } /* 'î¥' */
.icon-right-open-big:before { content: '\e766'; } /* 'î¦' */
.icon-up-open-big:before { content: '\e767'; } /* 'î§' */
.icon-progress-0:before { content: '\e768'; } /* 'î¨' */
.icon-progress-1:before { content: '\e769'; } /* 'î©' */
.icon-progress-2:before { content: '\e76a'; } /* 'îª' */
.icon-progress-3:before { content: '\e76b'; } /* 'î«' */
.icon-back-in-time:before { content: '\e771'; } /* 'î±' */
.icon-network:before { content: '\e776'; } /* 'î¶' */
.icon-inbox:before { content: '\e777'; } /* 'î·' */
.icon-inbox-1:before { content: '\e85a'; } /* 'î¡š' */
.icon-install:before { content: '\e778'; } /* 'î¸' */
.icon-font:before { content: '\e779'; } /* 'î¹' */
.icon-bold:before { content: '\e77a'; } /* 'îº' */
.icon-italic:before { content: '\e77b'; } /* 'î»' */
.icon-text-height:before { content: '\e77c'; } /* 'î¼' */
.icon-text-width:before { content: '\e77d'; } /* 'î½' */
.icon-align-left:before { content: '\e77e'; } /* 'î¾' */
.icon-align-center:before { content: '\e77f'; } /* 'î¿' */
.icon-align-right:before { content: '\e780'; } /* 'îž€' */
.icon-align-justify:before { content: '\e781'; } /* 'îž' */
.icon-list-1:before { content: '\e782'; } /* 'îž‚' */
.icon-indent-left:before { content: '\e783'; } /* 'îžƒ' */
.icon-indent-right:before { content: '\e784'; } /* 'îž„' */
.icon-lifebuoy:before { content: '\e788'; } /* 'îžˆ' */
.icon-mouse:before { content: '\e789'; } /* 'îž‰' */
.icon-dot:before { content: '\e78b'; } /* 'îž‹' */
.icon-dot-2:before { content: '\e78c'; } /* 'îžŒ' */
.icon-dot-3:before { content: '\e78d'; } /* 'îž' */
.icon-suitcase:before { content: '\e78e'; } /* 'îžŽ' */
.icon-off:before { content: '\e86a'; } /* 'î¡ª' */
.icon-road:before { content: '\e78f'; } /* 'îž' */
.icon-flow-cascade:before { content: '\e790'; } /* 'îž' */
.icon-list-alt:before { content: '\e869'; } /* 'î¡©' */
.icon-flow-branch:before { content: '\e791'; } /* 'îž‘' */
.icon-qrcode:before { content: '\e868'; } /* 'î¡¨' */
.icon-flow-tree:before { content: '\e792'; } /* 'îž’' */
.icon-barcode:before { content: '\e867'; } /* 'î¡§' */
.icon-flow-line:before { content: '\e793'; } /* 'îž“' */
.icon-ajust:before { content: '\e865'; } /* 'î¡¥' */
.icon-flow-parallel:before { content: '\e794'; } /* 'îž”' */
.icon-tint:before { content: '\e864'; } /* 'î¡¤' */
.icon-brush:before { content: '\e79a'; } /* 'îžš' */
.icon-paper-plane:before { content: '\e79b'; } /* 'îž›' */
.icon-magnet:before { content: '\e7a1'; } /* 'îž¡' */
.icon-magnet-1:before { content: '\e863'; } /* 'î¡£' */
.icon-gauge:before { content: '\e7a2'; } /* 'îž¢' */
.icon-traffic-cone:before { content: '\e7a3'; } /* 'îž£' */
.icon-cc:before { content: '\e7a5'; } /* 'îž¥' */
.icon-cc-by:before { content: '\e7a6'; } /* 'îž¦' */
.icon-cc-nc:before { content: '\e7a7'; } /* 'îž§' */
.icon-cc-nc-eu:before { content: '\e7a8'; } /* 'îž¨' */
.icon-cc-nc-jp:before { content: '\e7a9'; } /* 'îž©' */
.icon-cc-sa:before { content: '\e7aa'; } /* 'îžª' */
.icon-cc-nd:before { content: '\e7ab'; } /* 'îž«' */
.icon-cc-pd:before { content: '\e7ac'; } /* 'îž¬' */
.icon-cc-zero:before { content: '\e7ad'; } /* 'îž­' */
.icon-cc-share:before { content: '\e7ae'; } /* 'îž®' */
.icon-cc-remix:before { content: '\e7af'; } /* 'îž¯' */
.icon-move:before { content: '\f047'; } /* 'ï‡' */
.icon-link-ext:before { content: '\f08e'; } /* 'ï‚Ž' */
.icon-check-empty:before { content: '\f096'; } /* 'ï‚–' */
.icon-bookmark-empty:before { content: '\f097'; } /* 'ï‚—' */
.icon-phone-squared:before { content: '\f098'; } /* 'ï‚˜' */
.icon-twitter:before { content: '\f099'; } /* 'ï‚™' */
.icon-facebook:before { content: '\f09a'; } /* 'ï‚š' */
.icon-github:before { content: '\f09b'; } /* 'ï‚›' */
.icon-rss-1:before { content: '\f09e'; } /* 'ï‚ž' */
.icon-hdd:before { content: '\f0a0'; } /* 'ï‚ ' */
.icon-certificate:before { content: '\f0a3'; } /* 'ï‚£' */
.icon-left-circled-1:before { content: '\f0a8'; } /* 'ï‚¨' */
.icon-right-circled-1:before { content: '\f0a9'; } /* 'ï‚©' */
.icon-up-circled-1:before { content: '\f0aa'; } /* 'ï‚ª' */
.icon-down-circled-1:before { content: '\f0ab'; } /* 'ï‚«' */
.icon-tasks:before { content: '\f0ae'; } /* 'ï‚®' */
.icon-filter:before { content: '\f0b0'; } /* 'ï‚°' */
.icon-resize-full-alt:before { content: '\f0b2'; } /* 'ï‚²' */
.icon-beaker:before { content: '\f0c3'; } /* 'ïƒƒ' */
.icon-docs-1:before { content: '\f0c5'; } /* 'ïƒ…' */
.icon-blank:before { content: '\f0c8'; } /* 'ïƒˆ' */
.icon-menu-1:before { content: '\f0c9'; } /* 'ïƒ‰' */
.icon-list-bullet:before { content: '\f0ca'; } /* 'ïƒŠ' */
.icon-list-numbered:before { content: '\f0cb'; } /* 'ïƒ‹' */
.icon-strike:before { content: '\f0cc'; } /* 'ïƒŒ' */
.icon-underline:before { content: '\f0cd'; } /* 'ïƒ' */
.icon-table:before { content: '\f0ce'; } /* 'ïƒŽ' */
.icon-magic:before { content: '\f0d0'; } /* 'ïƒ' */
.icon-pinterest-circled-1:before { content: '\f0d2'; } /* 'ïƒ’' */
.icon-pinterest-squared:before { content: '\f0d3'; } /* 'ïƒ“' */
.icon-gplus-squared:before { content: '\f0d4'; } /* 'ïƒ”' */
.icon-gplus:before { content: '\f0d5'; } /* 'ïƒ•' */
.icon-money:before { content: '\f0d6'; } /* 'ïƒ–' */
.icon-columns:before { content: '\f0db'; } /* 'ïƒ›' */
.icon-sort:before { content: '\f0dc'; } /* 'ïƒœ' */
.icon-sort-down:before { content: '\f0dd'; } /* 'ïƒ' */
.icon-sort-up:before { content: '\f0de'; } /* 'ïƒž' */
.icon-mail-alt:before { content: '\f0e0'; } /* 'ïƒ ' */
.icon-linkedin:before { content: '\f0e1'; } /* 'ïƒ¡' */
.icon-gauge-1:before { content: '\f0e4'; } /* 'ïƒ¤' */
.icon-comment-empty:before { content: '\f0e5'; } /* 'ïƒ¥' */
.icon-chat-empty:before { content: '\f0e6'; } /* 'ïƒ¦' */
.icon-sitemap:before { content: '\f0e8'; } /* 'ïƒ¨' */
.icon-paste:before { content: '\f0ea'; } /* 'ïƒª' */
.icon-user-md:before { content: '\f200'; } /* 'ïˆ€' */
.icon-s-github:before { content: '\f300'; } /* 'ïŒ€' */
.icon-github-squared:before { content: '\e862'; } /* 'î¡¢' */
.icon-github-circled:before { content: '\f301'; } /* 'ïŒ' */
.icon-s-flickr:before { content: '\f303'; } /* 'ïŒƒ' */
.icon-twitter-squared:before { content: '\e85f'; } /* 'î¡Ÿ' */
.icon-s-vimeo:before { content: '\f306'; } /* 'ïŒ†' */
.icon-vimeo-circled:before { content: '\f307'; } /* 'ïŒ‡' */
.icon-facebook-squared-1:before { content: '\f308'; } /* 'ïŒˆ' */
.icon-s-twitter:before { content: '\f309'; } /* 'ïŒ‰' */
.icon-twitter-circled:before { content: '\f30a'; } /* 'ïŒŠ' */
.icon-s-facebook:before { content: '\f30c'; } /* 'ïŒŒ' */
.icon-linkedin-squared:before { content: '\e870'; } /* 'î¡°' */
.icon-facebook-circled:before { content: '\f30d'; } /* 'ïŒ' */
.icon-s-gplus:before { content: '\f30f'; } /* 'ïŒ' */
.icon-gplus-circled:before { content: '\f310'; } /* 'ïŒ' */
.icon-s-pinterest:before { content: '\f312'; } /* 'ïŒ’' */
.icon-pinterest-circled:before { content: '\f313'; } /* 'ïŒ“' */
.icon-s-tumblr:before { content: '\f315'; } /* 'ïŒ•' */
.icon-tumblr-circled:before { content: '\f316'; } /* 'ïŒ–' */
.icon-s-linkedin:before { content: '\f318'; } /* 'ïŒ˜' */
.icon-linkedin-circled:before { content: '\f319'; } /* 'ïŒ™' */
.icon-s-dribbble:before { content: '\f31b'; } /* 'ïŒ›' */
.icon-dribbble-circled:before { content: '\f31c'; } /* 'ïŒœ' */
.icon-s-stumbleupon:before { content: '\f31e'; } /* 'ïŒž' */
.icon-stumbleupon-circled:before { content: '\f31f'; } /* 'ïŒŸ' */
.icon-s-lastfm:before { content: '\f321'; } /* 'ïŒ¡' */
.icon-lastfm-circled:before { content: '\f322'; } /* 'ïŒ¢' */
.icon-rdio:before { content: '\f324'; } /* 'ïŒ¤' */
.icon-rdio-circled:before { content: '\f325'; } /* 'ïŒ¥' */
.icon-spotify:before { content: '\f327'; } /* 'ïŒ§' */
.icon-s-spotify-circled:before { content: '\f328'; } /* 'ïŒ¨' */
.icon-qq:before { content: '\f32a'; } /* 'ïŒª' */
.icon-s-instagrem:before { content: '\f32d'; } /* 'ïŒ­' */
.icon-dropbox:before { content: '\f330'; } /* 'ïŒ°' */
.icon-s-evernote:before { content: '\f333'; } /* 'ïŒ³' */
.icon-flattr:before { content: '\f336'; } /* 'ïŒ¶' */
.icon-s-skype:before { content: '\f339'; } /* 'ïŒ¹' */
.icon-skype-circled:before { content: '\f33a'; } /* 'ïŒº' */
.icon-renren:before { content: '\f33c'; } /* 'ïŒ¼' */
.icon-sina-weibo:before { content: '\f33f'; } /* 'ïŒ¿' */
.icon-s-paypal:before { content: '\f342'; } /* 'ï‚' */
.icon-s-picasa:before { content: '\f345'; } /* 'ï…' */
.icon-s-soundcloud:before { content: '\f348'; } /* 'ïˆ' */
.icon-s-behance:before { content: '\f34e'; } /* 'ïŽ' */
.icon-google-circles:before { content: '\f351'; } /* 'ï‘' */
.icon-vkontakte:before { content: '\f354'; } /* 'ï”' */
.icon-smashing:before { content: '\f357'; } /* 'ï—' */
.icon-db-shape:before { content: '\f600'; } /* 'ï˜€' */
.icon-sweden:before { content: '\f601'; } /* 'ï˜' */
.icon-logo-db:before { content: '\f603'; } /* 'ï˜ƒ' */
.icon-picture:before { content: '\f304'; } /* 'ïŒ„' */
.icon-picture-1:before { content: '\e80a'; } /* 'î Š' */
.icon-globe:before { content: '\f30e'; } /* 'ïŒŽ' */
.icon-globe-1:before { content: '\e85b'; } /* 'î¡›' */
.icon-leaf-1:before { content: '\e86d'; } /* 'î¡­' */
.icon-lemon:before { content: '\f34b'; } /* 'ï‹' */
.icon-glass:before { content: '\f378'; } /* 'ï¸' */
.icon-gift:before { content: '\f381'; } /* 'ïŽ' */
.icon-graduation-cap:before { content: '\f393'; } /* 'ïŽ“' */
.icon-mic:before { content: '\f3a4'; } /* 'ïŽ¤' */
.icon-videocam:before { content: '\f3a5'; } /* 'ïŽ¥' */
.icon-headphones:before { content: '\f3a7'; } /* 'ïŽ§' */
.icon-palette:before { content: '\f3a8'; } /* 'ïŽ¨' */
.icon-ticket:before { content: '\f3ab'; } /* 'ïŽ«' */
.icon-video:before { content: '\f3ac'; } /* 'ïŽ¬' */
.icon-video-1:before { content: '\e809'; } /* 'î ‰' */
.icon-target:before { content: '\f3af'; } /* 'ïŽ¯' */
.icon-target-1:before { content: '\e858'; } /* 'î¡˜' */
.icon-music:before { content: '\f3b5'; } /* 'ïŽµ' */
.icon-trophy:before { content: '\f3c6'; } /* 'ï†' */
.icon-award:before { content: '\f3c9'; } /* 'ï‰' */
.icon-thumbs-up:before { content: '\f44d'; } /* 'ï‘' */
.icon-thumbs-up-1:before { content: '\e820'; } /* 'î  ' */
.icon-thumbs-down:before { content: '\f44e'; } /* 'ï‘Ž' */
.icon-thumbs-down-1:before { content: '\e821'; } /* 'î ¡' */
.icon-bag:before { content: '\f45c'; } /* 'ï‘œ' */
.icon-user:before { content: '\f464'; } /* 'ï‘¤' */
.icon-user-1:before { content: '\e807'; } /* 'î ‡' */
.icon-users:before { content: '\f465'; } /* 'ï‘¥' */
.icon-users-1:before { content: '\e808'; } /* 'î ˆ' */
.icon-lamp:before { content: '\f4a1'; } /* 'ï’¡' */
.icon-alert:before { content: '\f4a5'; } /* 'ï’¥' */
.icon-water:before { content: '\f4a6'; } /* 'ï’¦' */
.icon-droplet:before { content: '\f4a7'; } /* 'ï’§' */
.icon-credit-card:before { content: '\f4b3'; } /* 'ï’³' */
.icon-credit-card-1:before { content: '\e860'; } /* 'î¡ ' */
.icon-monitor:before { content: '\f4bb'; } /* 'ï’»' */
.icon-briefcase:before { content: '\f4bc'; } /* 'ï’¼' */
.icon-briefcase-1:before { content: '\e86c'; } /* 'î¡¬' */
.icon-floppy:before { content: '\f4be'; } /* 'ï’¾' */
.icon-floppy-1:before { content: '\e85e'; } /* 'î¡ž' */
.icon-cd:before { content: '\f4bf'; } /* 'ï’¿' */
.icon-folder:before { content: '\f4c1'; } /* 'ï“' */
.icon-folder-1:before { content: '\e830'; } /* 'î °' */
.icon-folder-open:before { content: '\f4c2'; } /* 'ï“‚' */
.icon-doc-text:before { content: '\f4c4'; } /* 'ï“„' */
.icon-doc-1:before { content: '\e831'; } /* 'î ±' */
.icon-calendar:before { content: '\f4c5'; } /* 'ï“…' */
.icon-calendar-1:before { content: '\e82c'; } /* 'î ¬' */
.icon-chart-line:before { content: '\f4c8'; } /* 'ï“ˆ' */
.icon-chart-bar:before { content: '\f4ca'; } /* 'ï“Š' */
.icon-chart-bar-1:before { content: '\e861'; } /* 'î¡¡' */
.icon-clipboard:before { content: '\f4cb'; } /* 'ï“‹' */
.icon-pin:before { content: '\f4cc'; } /* 'ï“Œ' */
.icon-attach:before { content: '\f4ce'; } /* 'ï“Ž' */
.icon-attach-1:before { content: '\e80f'; } /* 'î ' */
.icon-bookmarks:before { content: '\f4d1'; } /* 'ï“‘' */
.icon-book:before { content: '\f4d5'; } /* 'ï“•' */
.icon-book-1:before { content: '\e866'; } /* 'î¡¦' */
.icon-book-open:before { content: '\f4d6'; } /* 'ï“–' */
.icon-phone:before { content: '\f4de'; } /* 'ï“ž' */
.icon-phone-1:before { content: '\e82f'; } /* 'î ¯' */
.icon-megaphone:before { content: '\f4e3'; } /* 'ï“£' */
.icon-megaphone-1:before { content: '\e86e'; } /* 'î¡®' */
.icon-upload:before { content: '\f4e4'; } /* 'ï“¤' */
.icon-upload-1:before { content: '\e823'; } /* 'î £' */
.icon-download:before { content: '\f4e5'; } /* 'ï“¥' */
.icon-download-1:before { content: '\e822'; } /* 'î ¢' */
.icon-box:before { content: '\f4e6'; } /* 'ï“¦' */
.icon-newspaper:before { content: '\f4f0'; } /* 'ï“°' */
.icon-mobile:before { content: '\f4f1'; } /* 'ï“±' */
.icon-signal:before { content: '\f4f6'; } /* 'ï“¶' */
.icon-signal-1:before { content: '\e859'; } /* 'î¡™' */
.icon-camera:before { content: '\f4f7'; } /* 'ï“·' */
.icon-camera-1:before { content: '\e80b'; } /* 'î ‹' */
.icon-shuffle:before { content: '\f500'; } /* 'ï”€' */
.icon-shuffle-1:before { content: '\e84e'; } /* 'î¡Ž' */
.icon-loop:before { content: '\f501'; } /* 'ï”' */
.icon-arrows-ccw:before { content: '\f504'; } /* 'ï”„' */
.icon-light-down:before { content: '\f505'; } /* 'ï”…' */
.icon-light-up:before { content: '\f506'; } /* 'ï”†' */
.icon-mute:before { content: '\f507'; } /* 'ï”‡' */
.icon-volume-off:before { content: '\e837'; } /* 'î ·' */
.icon-volume-down:before { content: '\f509'; } /* 'ï”‰' */
.icon-sound:before { content: '\f50a'; } /* 'ï”Š' */
.icon-volume-up:before { content: '\e838'; } /* 'î ¸' */
.icon-battery:before { content: '\f50b'; } /* 'ï”‹' */
.icon-search:before { content: '\f50d'; } /* 'ï”' */
.icon-search-1:before { content: '\e801'; } /* 'î ' */
.icon-key:before { content: '\f511'; } /* 'ï”‘' */
.icon-key-1:before { content: '\e86b'; } /* 'î¡«' */
.icon-lock:before { content: '\f512'; } /* 'ï”’' */
.icon-lock-1:before { content: '\e80e'; } /* 'î Ž' */
.icon-lock-open:before { content: '\f513'; } /* 'ï”“' */
.icon-lock-open-1:before { content: '\e80d'; } /* 'î ' */
.icon-bell:before { content: '\f514'; } /* 'ï””' */
.icon-bell-1:before { content: '\e835'; } /* 'î µ' */
.icon-bookmark:before { content: '\f516'; } /* 'ï”–' */
.icon-bookmark-1:before { content: '\e81e'; } /* 'î ž' */
.icon-link:before { content: '\f517'; } /* 'ï”—' */
.icon-link-1:before { content: '\e810'; } /* 'î ' */
.icon-back:before { content: '\f519'; } /* 'ï”™' */
.icon-fire:before { content: '\f525'; } /* 'ï”¥' */
.icon-flashlight:before { content: '\f526'; } /* 'ï”¦' */
.icon-wrench:before { content: '\f527'; } /* 'ï”§' */
.icon-hammer:before { content: '\f528'; } /* 'ï”¨' */
.icon-chart-area:before { content: '\f53e'; } /* 'ï”¾' */
.icon-clock:before { content: '\f554'; } /* 'ï•”' */
.icon-clock-1:before { content: '\e839'; } /* 'î ¹' */
.icon-rocket:before { content: '\f680'; } /* 'ïš€' */
.icon-truck:before { content: '\f69a'; } /* 'ïšš' */
.icon-block:before { content: '\f6ab'; } /* 'ïš«' */
.icon-block-1:before { content: '\e83a'; } /* 'î º' */

.icon-s-rss:before { font-family: 'fontello'; content: '\e73a'; } /* 'îœº' */
.icon-s-delicious:before { content: '\23'; } /* '#' */
.icon-s-500px:before { content: '\30'; } /* '0' */
.icon-s-grooveshark:before { content: '\38'; } /* '8' */
.icon-s-forrst:before { content: '\3a'; } /* ':' */
.icon-s-digg:before { content: '\3b'; } /* ';' */
.icon-s-blogger:before { content: '\42'; } /* 'B' */
.icon-s-klout:before { content: '\4b'; } /* 'K' */
.icon-s-dropbox:before { content: '\64'; } /* 'd' */
.icon-s-ebay:before { content: '\65'; } /* 'e' */
.icon-s-github-1:before { content: '\67'; } /* 'g' */
.icon-s-songkick:before { content: '\6b'; } /* 'k' */
.icon-s-posterous:before { content: '\7e'; } /* '~' */
.icon-s-appnet:before { content: '\e1'; } /* 'Ã¡' */
.icon-s-github:before { content: '\f300'; } /* 'ïŒ€' */
.icon-s-flickr:before { content: '\f303'; } /* 'ïŒƒ' */
.icon-s-vimeo:before { content: '\f306'; } /* 'ïŒ†' */
.icon-s-twitter:before { content: '\f309'; } /* 'ïŒ‰' */
.icon-s-facebook:before { content: '\f30c'; } /* 'ïŒŒ' */
.icon-s-gplus:before { content: '\f30f'; } /* 'ïŒ' */
.icon-s-pinterest:before { content: '\f312'; } /* 'ïŒ’' */
.icon-s-youtube:before { content: '\f313'; } /* 'ïŒ“' */
.icon-s-tumblr:before { content: '\f315'; } /* 'ïŒ•' */
.icon-s-linkedin:before { content: '\f318'; } /* 'ïŒ˜' */
.icon-s-dribbble:before { content: '\f31b'; } /* 'ïŒ›' */
.icon-s-stumbleupon:before { content: '\f31e'; } /* 'ïŒž' */
.icon-s-lastfm:before { content: '\f321'; } /* 'ïŒ¡' */
.icon-s-spotify:before { content: '\f328'; } /* 'ïŒ¨' */
.icon-s-instagram:before { content: '\f32d'; } /* 'ïŒ­' */
.icon-s-evernote:before { content: '\f333'; } /* 'ïŒ³' */
.icon-s-skype:before { content: '\f339'; } /* 'ïŒ¹' */
.icon-s-paypal:before { content: '\f342'; } /* 'ï‚' */
.icon-s-picasa:before { content: '\f345'; } /* 'ï…' */
.icon-s-soundcloud:before { content: '\f348'; } /* 'ïˆ' */
.icon-s-behance:before { content: '\f34e'; } /* 'ïŽ' */